.DS_Store
project.xcworkspace
xcuserdata
Release/
ipch/
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.apk
*.ap_
*.class
local.properties
.classpath
.project
bin/
obj/
gen/
*.o
*.o.d
*.a
*.so
*.prefs
gdb.setup
gdbserver
